<div *ngIf="isLoading">
    <img src='/assets/loading.svg'>
</div>
<div class="container" *ngIf="!isLoading && prefferedLanguageIsoCodes.length !== 0" cdkDropList (cdkDropListDropped)="drop($event)">
    <p>{{sortLanguagesPromptValue}}</p>
    <div *ngFor="let isoCode of prefferedLanguageIsoCodes; let i = index; let first = first; let last = last" cdkDrag class="draggable-item">
        <span [ngStyle]="{'font-weight': allLanguages[isoCode]?.isSupported ? 'bold' : 'normal', 'font-style': allLanguages[isoCode]?.isSupported ? 'normal' : 'italic'}">
            {{ allLanguages[isoCode]?.displayName || isoCode }}
        </span>
        <div>
            <button [hidden]="hideFromDeletion(isoCode)" (click)="deleteLanguage(isoCode)"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="add-language" [hidden]="languageIsoCodesNotInPreferred.length === 0">
        <div class="dropdown-button-container">
            <select #selectedLanguage [(ngModel)]="selectedLanguageValue">
                <option [value]="''">{{choosePreferredLanguagesPromptValue}}</option>
                <option *ngFor="let isoCode of languageIsoCodesNotInPreferred" 
                    [value]="isoCode">
                {{ allLanguages[isoCode]?.displayName || isoCode }}
                </option>
            </select>
            <button [hidden]="!languageIsoCodesNotInPreferred.includes(selectedLanguageValue)" (click)="addLanguage(selectedLanguageValue)">Add {{allLanguages[selectedLanguageValue]?.displayName}}</button>
        </div>
    </div>
    
</div>
<div class="next-screen" *ngIf="!isLoading && prefferedLanguageIsoCodes.length !== 0">
    <button (click)="goToNextScreen()">Next</button>
</div>
