<div class="spinner-container" *ngIf="isLoading">
    <img src='/assets/loading.svg'>
</div>
<div class="container" *ngIf="!isLoading && prefferedLanguageIsoCodes.length !== 0" cdkDropList (cdkDropListDropped)="drop($event)">
    <p>{{sortLanguagesPromptValue}}</p>
    <div *ngFor="let isoCode of prefferedLanguageIsoCodes; let i = index; let first = first; let last = last" cdkDrag class="draggable-item">
        <span>
            {{ allLanguages[isoCode]?.displayName || isoCode }}
        </span>
        <div>
            <button [hidden]="hideFromDeletion(isoCode)" (click)="deleteLanguage(isoCode)"><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="add-language" [hidden]="languageIsoCodesNotInPreferred.length === 0">
        <!-- Add More button -->
        <button (click)="openLanguageMultiSelectorModal()">{{choosePreferredLanguagesPromptValue}}</button>

        <!-- Language Multi Selector Component -->
        <app-language-multi-selector [hidden]="!isLanguageMultiSelectorModalOpen"
                                [allLanguages]="allLanguages"
                                [languageIsoCodesNotInPreferred]="languageIsoCodesNotInPreferred" 
                                (save)="updateprefferedLanguageIsoCodes($event)" 
                                (close)="closeLanguageMultiSelectorModal()">
        </app-language-multi-selector>
    </div>
</div>
