.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2%; /* relative unit */
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
  width: 90%; /* relative unit */
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px; /* Adjust as needed */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar {
  padding: 2%; /* relative unit */
}

.modal-body {
  margin-top: 2%; /* relative unit */
  margin-bottom: 2%; /* relative unit */
  overflow-y: auto;
  flex-grow: 1;
}

.save-languages {
  width: 100%; /* relative unit */
  padding: 2%; /* relative unit */
  box-sizing: border-box;
}

button, input[type="checkbox"] {
  margin: 5%; /* relative unit */
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px; /* increased padding */
  font-size: 18px; /* increased font size */
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
